<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.backend.mapper.VideoMapper">

    <update id="incrementViewCount">
        UPDATE videos SET view_count = view_count + 1 WHERE video_id = #{videoId}
    </update>

    <update id="incrementLikeCount">
        UPDATE videos SET like_count = like_count + 1 WHERE video_id = #{videoId}
    </update>

    <update id="incrementShareCount">
        UPDATE videos SET share_count = share_count + 1 WHERE video_id = #{videoId}
    </update>

    <update id="incrementCommentCount">
        UPDATE videos SET comment_count = comment_count + 1 WHERE video_id = #{videoId}
    </update>

    <update id="incrementCollectCount">
        UPDATE videos SET collect_count = collect_count + 1 WHERE video_id = #{videoId}
    </update>

</mapper>
